:root {
    --cor-principalcase: #7292a9;
    --cor-secundariacase: #bbdbf4;
    --fillcase: #bbdbf4;
    --cor-border: #bbdbf4;
    --color-header: #fff;
    --svg: url('../img/menu/Vector.svg');
    --svg-2: url('../img/menu/Vector1.svg');
    --svg-3: url('../img/menu/Vector2.svg');
}

body .header-container>nav>a:hover {
    border-radius: 50%;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

body .header-container>nav>a svg>path {
    fill: #fff;
}

body .header-container>nav>a:hover svg>path {
    fill: #000000;
}

.case-1.active::before{
    background-image: url('https://placehold.co/300x300');
}

.case-2.active::before{
    background-image: url("https://placehold.co/300x300");
}

.bc-block-1 {
    background-color: var(--cor-principalcase);
    color: white;
}

.container.cases-bc-1{
    max-width: 1440px;
}

.cases-block-1-columns-2>h4{
    margin-bottom: 24px;
}